* {
    margin: 0;
    padding: 0;
    font-family: Roboto Mono;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 70% 1.5rem auto;
}

#no-serial {
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
}

#no-serial-continue {
    margin-top: 3rem;
    font-size: 1.2rem;
    text-align: center;
}


#graphjs {
    justify-self: stretch;
    height: 100vh;
    grid-column: 1;
    display: grid;
    transform: translateZ(0);
}

#divider {
    border-left: 2px solid black;
    grid-column: 2;
    cursor: ew-resize;
}

#control-panel {
    width: 100%;
    min-width: 23rem;
    grid-column: 3;
    padding: 1rem 2rem 1rem 0.5rem;
    overflow: auto;
}

#control-panel:focus {
    outline: none;
}

h1 {
    font-weight: 200;
    font-size: 2.4rem;
    user-select: none;
}

h1 strong {
    font-weight: 400;
}

h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

button {
    background: transparent;
    border: 1px solid black;
    padding: 1rem;
    margin: 0.4rem 0;
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
}

button:focus {
    outline: 3px solid #cccccc;
}

button:hover {
    padding: calc(1rem - 1px);
    border: 2px solid black;
}

button:active {
    padding: 1rem calc(1rem - 2px) calc(1rem - 2px) 1rem;
    background: #eeeeee;
}

#triggering {
    grid-column: 2;
    border: none;
    padding: 1rem;
    cursor: pointer;
    margin: 0.4rem 0;
    width: 100%;
    font-weight: 500;
    font-size: 0.9rem;
    text-align-last: right;
    border: 1px solid black;
    user-select: none;
}

#triggering:focus {
    outline: 3px solid #cccccc;
}

#triggering:hover {
    padding: calc(1rem - 1px);
    border: 2px solid black;
}

#triggering-text {
    margin-left: 1rem;
    font-weight: 500;
    margin-top: -2.8rem;
    margin-bottom: 2.5rem;
    pointer-events: none;
    user-select: none;
}

.stats {
    margin: 1rem 0 1rem 1rem;
    display: grid;
    overflow: hidden;
    justify-content: start;
    grid-column-gap: 1rem;
    grid-row-gap: 0.4rem;
    white-space: nowrap;
}

.left {
    text-align: right;
    grid-column: 1;
}

.right {
    text-align: left;
    grid-column: 2;
}

.header {
    grid-column-start: 1; 
    grid-column-end: 4; 
    margin-bottom: 0.3rem;
}

#settings {
    margin: 1rem 0 1rem 1rem;
    display: grid;
    overflow: hidden;
    grid-column-gap: 1rem;
    grid-row-gap: 0.4rem;
    white-space: nowrap;
    align-items: center;
    grid-template-columns: min-content auto 0.5rem auto;
}

#settings input {
    border: 1px solid black;
    font-family: Roboto Mono;
    font-size: 0.9rem;
    display: block;
    padding: 0.5rem;
    padding-right: 1px;
    min-width: 1rem;
}

#settings input:hover {
    border: 2px solid black;
    padding: calc(0.5rem - 1px);
    padding-right: 0;
}

#settings input:focus {
    outline: 3px solid #cccccc;
}