* {
    margin: 0;
    padding: 0;
    font-family: Roboto Mono;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 70% 1.5rem auto;
}

#graphjs {
    justify-self: stretch;
    height: 100vh;
    grid-column: 1;
    display: grid;
    transform: translateZ(0);
}

#right-click-menu {
    position: fixed;
    background: white;
    display: grid;
    border: 2px solid black;
    margin: -1px;
    visibility: hidden;
    user-select: none;
}

#right-click-menu p {
    padding: 0.4rem 0.6rem;
}

#right-click-menu p:hover {
    background-color: #dddddd;
    cursor: pointer;
}

#divider {
    border-left: 2px solid black;
    grid-column: 2;
    cursor: ew-resize;
}

#control-panel {
    width: 100%;
    min-width: 25rem;
    grid-column: 3;
    padding: 1rem 2rem 1rem 0.5rem;
    overflow: auto;
}

#control-panel:focus {
    outline: none;
}

#title-grid {
    display: grid;
    grid-template-columns: auto 2.75rem 2.5rem;
}

h1 {
    font-weight: 200;
    font-size: 2.4rem;
    user-select: none;
}

h1 strong {
    font-weight: 400;
}

h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.info-button {
    position: relative;
    width:  2.8rem;
    height: 2.8rem;
    cursor: pointer;
    border-radius: 1.5rem;
    border: 0.1rem solid black;
    transition: all 0.4s;
    z-index: 101;
    grid-column: 3;
    transform: scale(0.9) translateY(0.3rem);
}

.info-button .i-back {
    position: relative;
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    background: white;
    left: -0.2rem;
    top: -0.2rem;
    transform: rotateZ(0deg) scaleY(0);
    transition: all 0.4s;
}

.info-button .i-back-cross {
    transform: rotateZ(180deg) scaleY(1);
}

.info-button .i-body {
    width:  0.25rem;
    height: 1rem;
    background: black;
    position: relative;
    left: 1.17rem;
    top: -1.95rem;
    transition: all 0.4s;
}

.info-button .i-body-cross {
    transform: translateY(-0.25rem) rotateZ(45deg) scaleY(2.2) scaleX(0.7);
}

.info-button .i-dot {
    width:  0.25rem;
    height: 0.25rem;
    background: black;
    position: relative;
    left: 1.17rem;
    top: -3.4rem;
    transition: all 0.4s;
}

.info-button .i-dot-cross {
    transform: translateY(0.6rem) rotateZ(-45deg) scaleY(8.7) scaleX(0.7);
}

.info-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    transform: translateX(100vw);
    transition: all 0.4s;
    border-left: 2px solid black;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    z-index: 100;
}

.info-screen-onscreen {
    transform: translateX(0);
}

.play-button {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    grid-column: 2;
    transform: translateY(0.55rem);
}   

.play-button .play-triangle {
    border: 1.85rem solid black;
    border-top: 1.15rem solid transparent;
    border-bottom: 1.15rem solid transparent;
    border-right: none;
    transition: all 0.3s;
}

.play-button .play-square-paused {
}

.play-button .play-square {
    position: relative;
    background: black;
    width: 1.85rem;
    height: 2.3rem;
    transform: translateY(-2.3rem) scaleY(0);
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(.64,1.42,.55,.9);
}

.play-button .play-square-paused {
    transform: translateY(-2.3rem) scaleY(1);
    transition-timing-function: cubic-bezier(1,-0.12,.63,.72);
}

.play-button .play-white {
    position: relative;
    background: white;
    width: 0.6rem;
    height: 2.3rem;
    transform: translateY(-4.6rem) translateX(0.625rem) scaleX(0);
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(.37,-0.07,.94,-0.43);
}

.play-button .play-white-paused {
    transform: translateY(-4.6rem) translateX(0.625rem) scaleX(1);
    transition-timing-function: cubic-bezier(.08,.96,0,1.05);
}

button {
    background: transparent;
    border: 1px solid black;
    padding: 1rem;
    margin: 0.4rem 0;
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
}

button:focus {
    outline: 3px solid #cccccc;
}

button:hover {
    padding: calc(1rem - 1px);
    border: 2px solid black;
}

button:active {
    padding: 1rem calc(1rem - 2px) calc(1rem - 2px) 1rem;
    background: #eeeeee;
}

#triggering {
    grid-column: 2;
    border: none;
    padding: 1rem;
    cursor: pointer;
    margin: 0.4rem 0;
    width: 100%;
    font-weight: 500;
    font-size: 0.9rem;
    text-align-last: right;
    border: 1px solid black;
    user-select: none;
}

#triggering:focus {
    outline: 3px solid #cccccc;
}

#triggering:hover {
    padding: calc(1rem - 1px);
    border: 2px solid black;
}

#triggering-text {
    margin-left: 1rem;
    font-weight: 500;
    margin-top: -2.8rem;
    margin-bottom: 2.5rem;
    pointer-events: none;
    user-select: none;
}

.stats {
    margin: 1rem 0 1rem 1rem;
    display: grid;
    overflow: hidden;
    justify-content: start;
    grid-column-gap: 1rem;
    grid-row-gap: 0.4rem;
    white-space: nowrap;
}

.left {
    text-align: right;
    grid-column: 1;
}

.right {
    text-align: left;
    grid-column: 2;
}

.header {
    grid-column-start: 1; 
    grid-column-end: 4; 
    margin-bottom: 0.3rem;
}

#settings {
    margin: 1rem 0 1rem 1rem;
    display: grid;
    overflow: hidden;
    grid-column-gap: 1rem;
    grid-row-gap: 0.4rem;
    white-space: nowrap;
    align-items: center;
    grid-template-columns: min-content auto 0.5rem auto;
}

#settings input {
    border: 1px solid black;
    font-family: Roboto Mono;
    font-size: 0.9rem;
    display: block;
    padding: 0.5rem;
    padding-right: 1px;
    min-width: 1rem;
}

#settings input:hover {
    border: 2px solid black;
    padding: calc(0.5rem - 1px);
    padding-right: 0;
}

#settings input:focus {
    outline: 3px solid #cccccc;
}

#no-serial {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    position: fixed;
    background: white;
}

#no-serial-continue {
    margin-top: 3rem;
    font-size: 1.2rem;
    text-align: center;
}