* {
    margin: 0;
    padding: 0;
    font-family: Roboto Mono;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 70% 1rem auto;
}

#no-serial {
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
}

#no-serial-continue {
    margin-top: 3rem;
    font-size: 1.2rem;
    text-align: center;
}


#graphjs {
    justify-self: stretch;
    height: 100vh;
    grid-column: 1;
    display: grid;
    transform: translateZ(0);
}

#divider {
    border-left: 2px solid black;
    grid-column: 2;
    cursor: ew-resize;
}

#control-panel {
    width: 100%;
    grid-column: 3;
    padding: 1rem;
    padding-right: 2rem;
}

h1 {
    font-weight: 200;
    font-size: 2.4rem;
    user-select: none;
}

h1 strong {
    font-weight: 400;
}

h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

button {
    background: transparent;
    border: 1px solid black;
    padding: 1rem 1rem;
    margin: 0.4rem 0;
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    user-select: none;
    cursor: pointer;
}

button:focus {
    outline: 3px solid #cccccc;
}

button:hover {
    padding: calc(1rem - 1px);
    border: 2px solid black;
}

button:active {
    padding: 1rem calc(1rem - 2px) calc(1rem - 2px) 1rem;
    background: #eeeeee;
}

.stats {
    display: grid;
    margin: 1rem;
    user-select: none;
    overflow: hidden;
    justify-content: start;
    grid-column-gap: 1rem;
}

.stats p {
    margin: 0.2rem 0;
}

.stats .left {
    width: 8rem;
    display: grid;
    text-align: right;
    grid-column: 1;
}

.stats .right {
    display: grid;
    text-align: left;
    grid-column: 2;
}

#settings {
    display: grid;
    margin: 1rem;
    user-select: none;
    overflow: hidden;
    justify-content: start;
    grid-column-gap: 1rem;
}

#settings .left {
    width: 8rem;
    display: grid;
    text-align: right;
    align-items: center;
}

#settings .right {
    display: grid;
    align-items: center;
}

#settings input {
    border: 1px solid black;
    font-family: Roboto Mono;
    font-size: 0.9rem;
    display: block;
    padding: 0.5rem;
    margin: 0.2rem 0;
}

#settings input:hover {
    border: 2px solid black;
    padding: calc(0.5rem - 1px);
}

#settings input:focus {
    outline: 3px solid #cccccc;
}